<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Layout</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
    <div id="wrap">
            <!-- 헤더 -->
    <header>
<div id="in_header">
    <div id="logo">
        <a href="#">LOGO</a>
    </div>
    <ul id="gnb">
        <li><a href="#">menu</a></li>
        <li><a href="#">menu</a></li>
        <li><a href="#">menu</a></li>
        <li><a href="#">menu</a></li>
        <li><a href="#">menu</a></li>
    </ul>
</div>
</header>
<!-- 헤더 끝 -->

<!-- first section -->
<section id="section_1"></section>

<!-- second section -->
<section id="section_2">
    <div class="container">
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
    </div>
</section>

<!-- third section -->
<section id="section_3">
    <div class="container">
        <ul class="con_wrap">
            <li></li>
            <li class="long_box m_box"></li>
            <li></li>
        </ul>
        <ul class="con_wrap">
            <li></li>
            <li class="m_box"></li>
            <li class="long_box"></li>
        </ul>
        <ul class="con_wrap">
            <li></li>
            <li class="long_box m_box"></li>
            <li></li>
        </ul>
    </div>
</section>

<!-- button -->
<div id="top_btn">
    <a href="#">top</a>
</div>


    </div>

</body>
</html>